body {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  background-color: #fff;
}

.container {
  max-width: 1110px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-content {
  max-width: 1140px;
  padding: 25px 45px;
  background-color: #F1F1F1;
  border-radius: 10px;
}

.container-content {
  padding: 25px 45px;
}

.container__content:last-child {
  margin-bottom: 0;
}

