@import "reset.css";
@import "normalize.css";
@import "global.css";

* {
  box-sizing: border-box;
}

ol {
	margin: 0;
padding-left: 25px;
}
.article__title,
.section__title {
  font-weight: 900;
}

.article {
  padding: 60px 0 50px;
}

.article__title {
  margin-bottom: 30px;
}

.section {
  margin-bottom: 50px;
}

.section__title {
  font-size: 36px;
  margin-bottom: 30px;
}

.section__img {
  display: block;
  margin: 0 auto 30px;
}

.section__img_margin_no{
	 margin-bottom: 0;
}

.section__img:last-child {
  margin-bottom: 0;
}

.article__paragraph-bloquote {
  padding: 15px 30px;
  color: #5E5E5E;
  border: 1px solid #000;
  border-top: none;
}

.content {
  padding-top: 50px;
}

.article__paragraph {
  margin-bottom: 30px;
}

.article__paragraph-bold {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 25px;
}

.article__paragraph:last-child {
  margin-bottom: 0;
}

.article__link {
  color: #02535F;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.article__item {
  margin-bottom: 10px;
  color: #02535F;
}

.article__item:last-child {
  margin-bottom: 0;
}

.margin__inner {
  margin-bottom: 30px;
}

.margin:last-child {
  margin-bottom: 0;
}

.margin__img-left {
  margin-right: 30px;
}

.margin__text {
  display: inline-block;
  max-width: 480px;
  vertical-align: top;
}

.margin__text-left {
  margin-right: 34px;
}

.article__list {
  

}

.article__list:last-child{
  

}

